/*Global Styles----------------------------------------*/
/*border box fix---------------------------------------*/
html{box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* BODY --------------------------------------------------*/
html{
	font-size: 100%;
}
body {
  	font-family: 'Montserrat', serif;
  	margin:0;
	background: ghostwhite;
	color: var(--soft-black);
	font-size: 1rem;
	line-height: 1.5rem;
}
:root{
	--soft-black:#010207;
	--ghost-white:#f8f8ff;
	--dark-ghost:#dfdfe5;
	--neon-blue: #2bf0ff;
	--darker-blue: #01b2c2;
	--purp: #bb07ec;
	--dark-purp: #841ceb;
	--plain-blue: #4d5dff;
	--neon-pink: #f20cac;
	--light-pink: #ff00cf;
}
/*----- Backgrounds ----------*/
#daily {
	/* background-color: rgba(24,23,18, .01) !important; */
	/* background-blend-mode: color; */
	background: url("../images/Soon.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#index{ 
	background-color: rgba(24,23,18, .3) !important;
	background-blend-mode: color;
	background: url("../images/Welcome.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#index html{
	background: rgb(5, 5, 13);
}

/* html #index footer{
	background-color: rgba(24,23,18, .3) !important;
	background-blend-mode: color;
	background: url("../images/Welcome.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */

#resume header, #resume main{ 
	background-color: rgba(24,23,18, .01) !important;
	background-blend-mode: color;
		background: url("..//images/Fern.jpeg") no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.resume-info{
	background: ghostwhite;
	box-shadow: 10px 10px 10px 0px var(--neon-blue);
}

#projects .resume-info{
	background: ghostwhite;
	box-shadow: 0px 0px 30px 0px var(--neon-blue);
}

@media(max-width: 786px){
	.resume-info{
		box-shadow: none;
	}
}

#dance{ 
	background-color: rgba(24,23,18, 0.3) !important;
	background-blend-mode: color;
		background: url("../images/Bamboo.jpeg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

footer{ 
	background-color: rgba(01, 02, 07, 0.9) !important;
	/* background-blend-mode: color; */
	/* background: url("../images/pupz.jpeg") no-repeat center center fixed;  */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#projects { 
	background-color: rgba(24, 23, 18, 0.2) !important;
	background-blend-mode: color;
		background: url("../images/Backlight.jpeg") no-repeat center 1% fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

/* html #projects{
	background: rgb(5, 5, 13);
} */

#acl header{
	background-color: rgba(24, 23, 18, 0.1) !important;
	background-blend-mode: color;
	background: url("../images/ACL\ Background\ \(1\).jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

}

#blanton header{
	background-color: rgba(24, 23, 18, 0.1) !important;
	background-blend-mode: color;
	background: url("../images/blanton-bg.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

}


/*---- INDEX STYLES ----*/

.front{
	position: relative;
	/* margin-top:10%; */
	top:8rem;
	/* text-align: left; */
}
/*---- Index Headers ----*/
#index h1{
	font-size: 4.4rem;
	line-height: 6.6rem;
}

.index-bottom{
	position: relative;
	bottom: -24rem;
	text-align: center;
}

@media(max-width: 1200px){
	#index h1{
		text-align: center;
		/* display: inline-block; */
		font-size: 3.157rem;
		line-height: 4.7335rem;
	}
	#index h3{
		text-align: center;
	}
}

@media(max-width: 768px){
	/* .front{
		margin-top: 10rem;
	} */
	#index h1{
		text-align: center;
		font-size: 1.777rem;
		line-height: 2.6655rem;
	}
}

#index h3{
	color: white;
	margin:0;
	/* font-size: 3.75vw;
	line-height: 5.625vw; */
}
#index h4{ margin-bottom: 0;}
#index p{margin:0}
#index nav{ width: 100%;}

/*--- Index Enter Button ----*/
.enter-button{
	/* margin: 20% auto 1rem; */
	display: inline-block;
  /* margin: -50px 0 0 -150px; */
  text-align: center;
  border-radius:0.5vw;
  border: 3px solid rgba(242,12,172, 0.5);
	cursor: pointer;
	/* position: fixed; */
}

#index .enter-button h3{
  font-family: "Xirod", sans-serif;
  font-size: 1.777rem;
  line-height: 2.6655rem‬;
  font-weight: 300;
  margin: 1.5rem;
  color: rgba(1,178,194, 0.5);
}

.enter-button {
	animation: border-flicker 2s linear forwards;
	animation-delay: 1s;
  }

.enter-button h3 {
  animation: text-flicker 2s linear forwards;
  animation-delay:  1s;
}

.enter-button .first {
  animation: letter-flicker 3s linear infinite;
  animation-delay: 1s;
}

.enter-button:hover{
	animation-play-state: paused;
	border: 3px solid rgba(43,240,255) !important;
}

#index .enter-button:hover h3{
	animation-play-state: paused;
	color: rgba(255,0,207) !important;
}

.enter-button:hover .first {
  animation: letter-flicker-hover 3s linear infinite;
}

@keyframes text-flicker {
  2% { 
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  3% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  6% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  9% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  11% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  14% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  18% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  32% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  33% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  37% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  39% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  43% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  46% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  47% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  100% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
}

@keyframes letter-flicker {
    2% { 
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  3% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  6% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  9% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  11% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  14% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  18% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  32% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  33% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  37% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  39% {
    color: rgba(1,178,194, 0.5);
    text-shadow: none;
  }
  40% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
  100% {
    color: rgba(43,240,255);
    text-shadow: 0 0 15px rgba(43,240,255);
  }
}

@keyframes border-flicker {
  2% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  3% {
    border: 3px solid rgba(242,12,172, 0.5);
    box-shadow: none;
  }
  5% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  6% {
    border: 3px solid rgba(242,12,172, 0.5);
    box-shadow: none;
  }
  7% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  9% {
    border: 3px solid rgba(242,12,172, 0.5);
    box-shadow: none;
  }
  13% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  16% {
    border: 3px solid rgba(242,12,172, 0.5);
    box-shadow: none;
  }
  18% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  22% {
    border: 3px solid rgba(242,12,172, 0.5);
    box-shadow: none;
  }
  34% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  36% {
    border: 3px solid rgba(242,12,172, 0.5);
    box-shadow: none;
  }
  54% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
  100% {
    border: 3px solid rgba(255,0,207);
    box-shadow: 0 0 15px -1px rgba(255,0,207), 
    0 0 12px -1px rgba(255,0,207) inset;
  }
}
 
  @keyframes letter-flicker-hover {
	  2% { 
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	3% {
	  color: rgba(242,12,172, 0.5);
	  text-shadow: none;
	}
	6% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	9% {
	  color: rgba(242,12,172, 0.5);
	  text-shadow: none;
	}
	11% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	14% {
	  color: rgba(242,12,172, 0.5);
	  text-shadow: none;
	}
	18% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	32% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	33% {
	  color: rgba(242,12,172, 0.5);
	  text-shadow: none;
	}
	37% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	39% {
	  color: rgba(242,12,172, 0.5);
	  text-shadow: none;
	}
	40% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
	100% {
	  color: rgba(255,0,207);
	  text-shadow: 0 0 15px rgba(255,0,207);
	}
  }
  
/*Fonts -----------------------------------------------*/

@font-face {
    font-family: 'Xirod';
    src: url('xirod-kit/xirod-webfont.woff2') format('woff2'),
         url('xirod-kit/xirod-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-kit/montserrat-regular-webfont.woff2') format('woff2'),
			 url('montserrat-kit/montserrat-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-kit/montserrat-bold-webfont.woff2') format('woff2'),
			 url('montserrat-kit/montserrat-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-kit/montserrat-light-webfont.woff2') format('woff2'),
			 url('montserrat-kit/montserrat-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-kit/montserrat-lightitalic-webfont.woff2') format('woff2'),
			 url('montserrat-kit/montserrat-lightitalic-webfont.woff') format('woff');
	font-weight: 300;
	font-style: italic;

}


@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-kit/montserrat-medium-webfont.woff2') format('woff2'),
			 url('montserrat-kit/montserrat-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;

}

h1{
	font-family: 'Xirod', sans-serif;
}


h2 {
	font-family: 'Montserrat', sans-serif;
}

h3{
	font-family: 'Montserrat', serif;
}

h4{
	font-family: 'Montserrat', serif;
}

#resume h1, #index h1 {
	color: ghostwhite;
	text-shadow: 2px 2px 2px var(--light-pink);
}

h1{
	font-size: 2.369rem;
	font-weight: bold;
	line-height: 3.5535rem;
}
@media(max-width: 576px){
	h1{
		font-size: 2.073rem;
		line-height: 2.6655rem;
	}
	h2{
		font-size:1.555rem;
		line-height: 1.9995rem;
	}
	h3{
		font-size: 1.1665rem;
		line-height: 1.7498rem;
	}
}
h2 {
	color: var(--soft-black);
	font-size: 1.777rem;
	font-weight: bold;
	line-height: 2.6655rem;
}
h3{
	/* font-size: 1.333rem; */
	font-size: 1.333rem;
	font-weight:bold;
	line-height: 1.9995rem;
	color: var(--soft-black)

}

h4{ 
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
}

.uppercase{text-transform: uppercase;}

a{
	color: var(--neon-blue);
}

/*-----Resume Download Button ----------------------------*/
.dlbtn{
	/* box-shadow: 3px 3px 3px var(--neon-pink); */
	border: none;
	text-decoration: none;
	text-align: center;
	background: var(--dark-purp);
	color: var(--darker-blue);
	transition: .8s;
	/* padding: 10%; */
	display: inline-block;
	/* margin: 1rem auto 0; */
}
.dlbtn:hover{
	background: white;
	left: 3px;
	top: 3px;
}
.dlbtn:hover h3{
	transition: .8s;
	color: var(--neon-pink);
}
.dlbtn h3{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: 1px 1px 1px var(--light-pink);
}

/*--------Nav Bar-----------------------------------------*/
.dir{
	background: ghostwhite;
	/* top:0; */
	width:100%;
	box-shadow: 1px 1px 5px 0 var(--neon-blue);
	margin-bottom: 0;
}
a:link{	text-decoration:none;}

.dir a{
	font-family: 'Montserrat', sans-serif;
	/* text-transform: uppercase; */
	font-weight: 400;
	color:var(--soft-black);
}

.dir .sig{
	font-size: 1.333rem;
	text-decoration:none;
	color: var(--soft-black);
	text-shadow: 1px 1px 1px var(--neon-blue);
}
@media(max-width:576px){
	.dir .sig{
		font-size: 1rem;
	}
}
.sig:hover{
	transition: .8s;
}

.dir a:hover{
	color: var(--neon-blue);
	text-shadow: 1px 1px 1px var(--darker-blue);
	transition: .8s;
}
.dir .nav-active{
	font-weight: bold;
	/* color: var(--neon-blue); */
	text-shadow: 1px 1px 1px var(--neon-blue);
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
}
.navbar-toggle{
	border: 1px solid var(--neon-blue);
	background: var(--soft-black);
}
.icon-bar{background-color: var(--neon-blue);}

.label{
	padding-top: 1.5rem;
	color: var(--purp);
}
#acl .label{
	color: #00a081;
}

/* Header & Footer
------------------------------------*/
#resume header{
	/* padding-top: 50px; */
	padding-top: 5%;
	padding-bottom: 6.25%
	/* margin-bottom: 256px; */
}
#projects header{
	padding-top: 6%;
	padding-bottom: 2%;
}
footer{
	position: relative;
	padding-top: 2.5rem;
	padding-bottom: 5rem;
}

/* Header styles only ------------------------------------*/
header h1, header h2, header h3, header p{
	/* text-align: left; */
	/*position: relative;
	top: 3%;*/
	/* display: inline-block; */
	margin: 0;
}
header h3, header p{
	color:ghostwhite;
}

#resume .profile-img {
	display: block;
  	border-radius: 50%;
	  width: 100%;
	  margin: auto;
	  /* margin-top: 50px; */
	  /* margin-top: 15%; */
}
@media(max-width: 576px){
	#resume .profile-img{
		width:50%
	}
}

/* Footer styles only---------------------------------------*/

footer h1{
	color: var(--ghost-white) !important;
	text-shadow: 2px 2px 2px var(--neon-pink) !important;
	margin: 0;
}
footer h2{
	color: var(--ghost-white) !important;
	text-shadow: 1px 1px 1px var(--neon-pink) !important;
	margin: 0 !important;
}
footer h3{
	color: ghostwhite !important;
	margin-bottom: 0;
}
footer p{
	position: absolute;
	bottom: 1.25rem;
}
.contact{
	/* text-align: center; */
}
#index .contact-info{
	margin-top: 1.25rem;
}
#index .contact-info a{
	margin-right: 1rem;
}
.email{
	margin-left: 0;
}
.contact-info a {
		/* margin: 0 1rem; */
		margin-right: .5rem;
		font-size: 1.5rem;
		line-height: 2.25rem;
  	display: inline-block;
  	text-decoration: none;
	color: ghostwhite;
}
.contact-info a:hover{
	color: var(--light-pink);;
	transition: .8s;
}

/*----------------------- Sections ----------------------------*/
/* hr{
	width: 60%;
	color: var(--light-pink);
	box-shadow: 0 0 5px var(--neon-pink);
} */
#resume section{
	padding-top: 4%;
	margin-top: 15.6%;
	padding-bottom: 4%;
	/* padding-bottom: 256px; */
} 
#projects section{
	padding-bottom: 20%;
}
/*Technical Skills---------------------------------*/
.techskills h2{
	margin-bottom: 20px;
}
.techskills h3{
	display: inline-block;
	margin-top: 10px;
}
.techskills p{display: inline-block;}
.techskills table{
		margin-bottom: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}
.table > tbody > tr > th, .table > tbody > tr > td{
	border-top: 2px solid var(--neon-blue);
}
/* .table tr{
	border: 2px double var(--neon-pink)
} */
/* Work Experience------------------------------------*/
.work h2{
	margin-bottom: 0;
}
h3 + p{	margin: 0;}
.work h3{
	margin-top: 20px;
	margin-bottom: 0px;
}
.work h4, .work p{
	margin: 0;
}
.work p{
	font-weight: lighter;
	font-style: italic;
}

.job-description p:first-of-type{margin-top: 0;}

.work ul{
	margin-top: 20px;
	margin-bottom: 10px;
	list-style-type: circle;
}

.work li, .education li{
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Education------------------------------------------------------------*/
.education{
	margin-bottom: 15.6%;
}
.education h2, .education h3{
	margin-bottom: 0;
}
.education h4{
	margin:0;
}
.education ul{
	list-style-type: circle;
}
.school{
	display: inline-block;
}
.courses1{
	width:45%;
	float:left;
}
.courses2{
	width: 45%;
	float:right;
}

/*---------------------DANCE --------------*/

#resume section .dance{
	padding-top: 10%;
	padding-bottom: 10%;
}
#dance h1{
	margin-top: 256px;
	margin-bottom: 256px;
}
#dance h2{
	font-family: 'Xirod', sans-serif;
	color: white;
	text-shadow: 1px 1px 1px var(--light-pink);
	/* text-align: center; */
}

/*----------------------- PROJECTS PAGE -------------------------*/
#projects h1{
	color: ghostwhite;
	text-shadow: 0px 0px 5px var(--neon-blue);
}


#projects h2{
	margin-bottom: 20px;
	color: var(--ghost-white);
	text-shadow: 0px 0px 5px var(--neon-blue);
}
#projects h4{
	margin: 0;
	color: ghostwhite;
	text-shadow: 0px 0px 5px var(--neon-blue);
}

.case-row{
	margin:2.5rem auto 2.5rem;
}

.case:hover .case-outer{
	animation:border-flicker 1s linear forwards;
}
.case-outer{
	border-radius:0.5vw;
	padding: 1.25rem;
  border: 3px solid rgba(242,12,172, 0.5);
}

.case{
	margin: 1.25rem auto;
}
.case:hover{
	/* box-shadow: 0px 0px 15px 0px var(--neon-blue); */
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	animation: rotate 0.8s ease-in-out both !important;
	animation:border-flicker 1s linear forwards;
}
#projects .case h3, .case span{
	/* color: rgba(1,178,194, 0.5); */
	color: var(--neon-blue);
	text-shadow: 0 0 15px var(--neon-blue);
}
/* .case span{
	color: rgba(1,178,194, 0.5);
} */
.case:hover span, .case:hover h3{
	animation:text-flicker 1s linear forwards;
}
.case-img{
	width: 80%;
	margin: auto;
	opacity:0.5;
}
.case:hover .case-img{
	opacity: 1;
	transition: .8s;
	transition-delay: .45s;
}
/* .case span{
	color:var(--soft-black);
} */
@keyframes rotate{
    0% { transform: rotate(0deg) translate3d(0, 0, 0)}
    25%{transform: rotate(3deg) translate3d(0, 0, 0)}
    50%{transform: rotate(-3deg) translate3d(0, 0, 0)}
    75%{transform: rotate(1deg) translate3d(0, 0, 0)}
    100%{transform: rotate(0deg) translate3d(0, 0, 0)}
}

.case:hover .case-inner{
	animation: storm 0.8s ease-in-out both;
	animation-delay: 0.06s;
}

@keyframes storm {
    0%{transform: translate3d( 0, 0, 0) translateZ(0)}
    25%{transform: translate3d( 4px, 0, 0) translateZ(0)}
    50%{transform: translate3d( -3px, 0, 0) translateZ(0)}
    75%{transform: translate3d( 2px, 0, 0) translateZ(0)}
    100%{transform: translate3d( 0, 0, 0) translateZ(0)}
}

/*---------- ACL CASE STUDY ------*/

.case-page {color: var(--soft-black);}

.case-page h2{
	margin:2.5rem auto;
}

.case-page h3{
	margin: 1.25rem auto .625rem;
}

.case-page h3{color:var(--soft-black)}

.case-page p{
	margin: .625rem auto;
}

.case-page p a{
	color:var(--plain-blue);
}

/*------ ACL Sections ----*/
.case-page section{
	padding-top:5rem;
	padding-bottom: 5rem;
}
.color-section{
	background: white;
}

.big-section{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.lower-row{
	margin-top: 1.25rem;
}

.lower-row p{
	margin-top:.625rem;
}

/*----- ACL Images ----------*/

.long-img{
	width: 100%;
	margin-top: 1.25rem;
}


/*------------ Overview ------------*/
.case-intro{
	padding-top: 5rem;
	padding-bottom:5rem;
}

.case-intro h1{
	font-family: 'Montserrat', sans-serif;
	margin-top: 2.5rem;
	margin-bottom: 0;
	color: ghostwhite;
}
#acl .case-intro h2, #acl .case-intro h3{
	color: ghostwhite;
	margin: 0;
}

.acl-intro-img{
	text-align: center;
	width: 200px;
}

/*------ Research -----*/
.case-page .dlbtn:hover h3{
	transition: .8s;
	color: var(--neon-pink);
}
.case-page .dlbtn h3{
	margin:0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: 1px 1px 1px var(--light-pink);
}

/*---- Develop ------*/
.case-page .carousel{
	margin-top: 2.5rem;
}

.carousel .item{
	height:100%;
}

.case-page .glyphicon{
	color: var(--neon-blue);
}
.case-page .carousel-inner{
	max-height: 720px;
	background: var(--soft-black);
}
.case-page .carousel-indicators li{
	border: 1px solid var(--darker-blue);
}

.case-page .carousel-indicators .active{
	background: var(--neon-blue);
}


/*---- Blanton Styles -----------------*/

/*----- Intro -------------------------*/
.blanton-intro-img{
	width: 100%;
}

#blanton .case-intro h2, #blanton .case-intro h3{
	color: ghostwhite;
	margin: 0;
}

#comparative h4{
	margin: 1.25rem auto .625rem;
}

/*Media Queries --------------------------------------------------*/
@media (min-width: 900px){
	.col-narrow{
	  	width: 35%;
	  	float: left;
	  	min-height: 100px;
	  	clear: both;
	  	/* margin-top: 2%; */
	}
	.col-wide{
		/* margin-top: 2%; */
	  	width:55%;
	  	float: right;
	  	min-height: 100px;
	}

@media(max-width: 380px){
	.contact-info a{
		font-size: 15px;
	}
}}