/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.cd-vertical-nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.cd-vertical-nav {
	display: block;
}
.cd-vertical-nav {
	line-height: 1;
}
.cd-vertical-nav ol, .cd-vertical-nav ul {
	list-style: none;
}
.cd-vertical-nav blockquote, .cd-vertical-nav q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.cd-vertical-nav table {
	border-collapse: collapse;
	border-spacing: 0;
}